@font-face {
  font-family: "HuabiHandwriting";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("寒蝉手拙体"),
    local("HCSZT"),
    url("fonts/寒蝉手拙体.ttf") format("truetype");
}
